table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    background: rgb(248, 245, 245);
}
td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
